<div class='container'>
  <div class="row">
    <div class="col">
      <div class="headline-text p-3 mb-4 brown-color">Eat Da Burger!</div>


        {{!--
        <img src="/assets/image/burger-image.jpeg" width="200px"> --}}
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="fresh-burgers" class="partition-background yellow-color p-3">
        <h2>Ready to Eat!</h2>
        {{#each burgers}} {{#unless devoured}}
        <div class="burger-list">
          <span class="label burger-list">{{this.id}}. {{this.burger_name}}</span>
          <button data-id="{{this.id}}" data-newburger="true" class="devour btn btn-danger">Devour It!</button>
        </div>
        {{/unless}} {{/each}}
      </div>
    </div>



    <div class="col-md-6">
      <div id="devoured-column" class="partition-background green-color p-3">
        <h2>Devoured Burgers</h2>
        {{#each burgers}} {{#if devoured}}
        <div class="label burger-list">{{this.id}}. {{this.burger_name}}</div>
        {{/if}} {{/each}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="partition-background red-color p-3 mt-3">
        <h2>Add a burger</h2>
        <form class="create-form">

          <div class="form-group">
            <label class="burger-list" for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
          </div>
          <button class="btn btn-success" type="submit">Add Burger</button>
        </form>
      </div>
    </div>
  </div>
</div>