<h1>Burgers!</h1>

<h2>Burgers are Delicious!</h2>

<ul id="fresh-burgers">
  <h2>Ready to Eat!</h2>
  {{#each burgers}}
  {{#unless devoured}}
  <div>
    <span class="label">{{this.id}}. {{this.burger_name}}</span>
    <button data-id="{{this.id}}" data-newburger="true" class="devour">Devour It!</button>
  </div>
  {{/unless}}
  {{/each}}
</ul>

<ul id="devoured-column">
  <h2>Devoured Burgers</h2>
  {{#each burgers}}
    {{#if devoured}}
    <span class="label">{{this.id}}. {{this.burger_name}}</span>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>


